<aside class="filt-neg">
    <h2 class="menu-tit">
        Menú
    </h2>
    <hr>
    <ul>
        <a class="txt-none" href="/">
            <li class="aaa hov ls-none">
                Inicio
            </li>
        </a>
        <a class="txt-none" href="/crear-post">
            <li class="aaa hov ls-none">
                Crear un Post
            </li>
        </a>
    </ul>
</aside>